*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
    font-size: 13.5px;
}
html{
    color: white;
}
body{
    margin: 0;
    padding: 0 0.8rem;
    background: rgb(18, 18, 18);
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none !important;
    color: #ffffff;
}
a:focus{
    text-decoration: none;
    color: rgb(134, 134, 134);
}
a:hover{
    text-decoration: none;
    color: rgb(136, 136, 136) !important;
}
#index-menu{
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.8rem;
    position: sticky;
    top: 0;
}
p, li{
    font-weight: 300;
    color: white;
}
.txt-light{
    font-weight: 300;
    color: rgb(136,136,136);
}
.txt-white{
    font-weight: 300;
    color: white;
}
.txt-view{
    color:azure;
}
#index-links{
    display: flex;
    gap: 1rem;
}
li{
    list-style-type: none;
}
.line{
    margin: 0.8rem 0;
}
.project{
    display: block;
    position: relative;
    overflow: hidden;
}
.project-media{
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: transform .5s ease;
}
.project:hover .project-media{
    transform:scale(1.05);
}
/* .project-button{
    margin-top: 1rem;
} */

footer{
    font-size: 0.8rem;
    font-weight: 300;
    width: 100%;
    padding-bottom: 0.8rem;
}
@media (max-width: 400px) {
    footer{
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .project-info {
        padding-left: 0.8rem;
    }
}

/* @media (max-width: 992px) {
    .row-to-col{
        flex-direction: column;
        gap: 0.8rem;
    }
} */